* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    padding: 2rem;
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "boids intro"
        "boids controls"
        "boids notes";

    background-color: #222;
    color: #999;
    font-family: system-ui, sans-serif;

    #intro    { grid-area: intro; }
    #controls { grid-area: controls; }
    #boids    { grid-area: boids; }
    #notes    { grid-area: notes; }
}

#intro {
    h1 {
        margin-top: 0;
    }
}

#notes {
    li {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
    }
}

#canvas {
    border: 3px solid #000;
    border-radius: 0.5rem;
    background-color: #036;
}

#controls {
    justify-self: start;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;

    h4 {
        margin: 1.5rem 0 0.5rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    label {
        width: 100%;
        margin-left: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;
    }
}